@import "~bulma/sass/utilities/_all";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Default font */
$family-sans-serif: 'Noto Sans JP', sans-serif;

/* Base color */
$base-color: #ffffff;
$base-color-light: #f1f2f2;

/* General overrides */
$primary: $cyan;
$body-background-color: $white;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;
$border: $base-color-light;

/* NavBar: Bulma override */
$navbar-item-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $black-ter;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $base-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px $base-color-light;
$navbar-divider-border: 1px solid $base-color-light;
$navbar-item-h-padding: $default-padding * .75;

/* Footer: Bulma override */
$footer-background-color: transparent;
$footer-padding: $default-padding * .33 $default-padding;

/* Status/State colors (based on Bulma's) */
$state-colors: ('primary', $white, $white),
  ('info', $blue, $white),
  ('success', $green, $white),
  ('warning', $yellow, $grey-darker),
  ('danger', $red, $white),
  ('dark', $grey-darker, $white),
  ('white', $white, $black-ter);

/* Dark Mode */
$dark-mode-color: #e5e5e5;
$dark-mode-background-color: #222436;
$dark-mode-navbar-background-color: #1C1E33;
$dark-mode-navbar-hover-color: #7499F2;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: white;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: $white;
$dark-mode-overlay-background-color: rgba($black, .85);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-model-card-background-color: $dark-mode-background-color;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;
$dark-mode-dropdown-background-color: #1E2033;
$dark-mode-dropdown-hovered-background: #1D1F33;
$dark-mode-footer-background-color: #202235;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$success: rgba(70, 201, 58, 0.1);
$warning: rgba(255, 186, 0, 0.1);
$danger: rgba(255, 71, 87, 0.1);
$info: rgba(59, 222, 200, 0.1);

$colors: mergeColorMaps(
    (
      "white": (
        $white,
        $black,
      ),
      "black": (
        $black,
        $white,
      ),
      "light": (
        $light,
        $light-invert,
      ),
      "dark": (
        $dark,
        $dark-invert,
      ),
      "primary": (
        $primary,
        $primary-invert,
        $primary-light,
        $primary-dark,
      ),
      "link": (
        $link,
        $link-invert,
        $link-light,
        $link-dark,
      ),
      "info": (
        $info,
        $info-invert,
        $info-light,
        $info-dark,
      ),
      "success": (
        $success,
        $success-invert,
        $success-light,
        $success-dark,
      ),
      "warning": (
        $warning,
        $warning-invert,
        $warning-light,
        $warning-dark,
      ),
      "danger": (
        $danger,
        $danger-invert,
        $danger-light,
        $danger-dark,
      ),
    ),
    $custom-colors
);
$toast-border-radius: 0em;

@media screen and (max-width: 768px) {
  .toast {
    margin: 1em 1em;
  }
}

.toast.is-success div {
  color: rgb(70, 201, 58);
}

.toast.is-warning div {
  color: rgb(255, 186, 0)
}

.toast.is-danger div {
  color: rgb(255, 71, 87)
}

.toast.is-info div {
  color: rgb(59, 222, 200)
}

.settings-button {
  background-color: rgb(255, 71, 87) !important;
  border-color: rgb(255, 71, 87) !important;
  color: $dark-mode-color !important;
}

.settings-button:hover {
  background-color: rgb(252, 93, 105) !important;
  border-color: rgb(252, 93, 105)!important;
  color: $dark-mode-color !important;
}

#hm {
  color: rgba(26, 92, 255, 0.7)
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
